<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Upload plików</title>
</head>
  <body>
    <div class="wrapper">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1>Wgrany plik</h1>
        </div>
        <div class="panel-body">
          <div class="uploaded-picture">
          </div>
        </div>
        <div class="panel-footer">
          <a href="/start">Załaduj nowe zdjęcie</a>
        </div>
      </div>
    </div>
  </body>
</html>